/*Navbar*/
.logo{
    width: 120px;
    height: 50px;
}

.logo img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.user-nav{
    width: 100vw;
    background-color: rgb(250, 205, 3);
    color: #fff;
    padding: 10px 0px;
}

.user-container{
    max-width: 95vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-container ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-container ul li{
    margin-right: 30px;
}

.user-container ul li i{
    margin-left: 10px;
    font-size: 20px;
}

.user-container ul li a{
    transition: all ease-in-out 0.5s;
}

.user-container ul li a:hover{
    color: #fff;
}

/*user-showcase*/
.user-showcase{
    background: url("./img//kisspng-worship-church-service-christian-church-pastor-event-5ab99d61ec12d8.966091981522113889967.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100vw;
    color: #fff;
    position: relative;
    margin-bottom: 70px;
}

.user-overlay{
    width: 100vw;
    height: 90vh;
    background-color: #000000ab;
    position: absolute;
}

.user-content{
    width: 95vw;
    margin: auto;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-content h1{
    font-size: 60px;
}

.user-content h2{
    font-size: 40px;
}

.user-content h3{
    font-size: 40px;
}

.user-right-card{
    background-color: rgb(218, 216, 216);
    width: 400px;
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
    color: #222;
}

.user-head{
    background-color: rgb(250, 205, 3);
    padding: 10px 0px;
    color: rgb(253, 253, 253);
}

.user-head-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 370px;
    margin: auto;
}

.user-body{
    padding: 20px 0px;
}

.user-body-item{
    width: 370px;
    margin: auto;
}

.user-body-item .user-body-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(184, 176, 176);
    padding: 5px 5px;
    border-left: #222 5px solid;
    margin-bottom: 20px;
}

@media only screen and (max-width:920px){
    .user-right-card{
        width: 300px;
    }

    .user-head-content{
        width: 270px;
    }

    .user-body-item{
        width: 270px;
    }
}

@media only screen and (max-width:800px){
    .user-left{
        width: 350px;
    }

    .user-content h1{
        font-size: 50px;
    }

    .user-content h2{
        font-size: 30px;
    }

    .user-content h3{
        font-size: 30px;
    }
}

@media only screen and (max-width:800px){
    .user-left{
        width: 270px;
    }

    .user-content h1{
        font-size: 40px;
    }

    .user-content h2{
        font-size: 25px;
    }

    .user-content h3{
        font-size: 25px;
    }
}

@media only screen and (max-width:560px){
    .user-right{
        
    }

    .user-showcase{
        height: 120vh;
    }

    .user-content{
        width: 95vw;
        height: 120vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .user-left{
        width: 95vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }

    
    .user-content h1{
        font-size: 60px;
    }

    .user-content h2{
        font-size: 30px;
    }

    .user-content h3{
        font-size: 30px;
    }
}

@media only screen and (max-width:475px){
    .user-content h1{
        font-size: 50px;
    }

    .user-content h2{
        font-size: 25px;
    }

    .user-content h3{
        font-size: 25px;
    }
}

@media only screen and (max-width:390px){
    .user-content h1{
        font-size: 40px;
    }

    .user-content h2{
        font-size: 20px;
    }

    .user-content h3{
        font-size: 20px;
    }
}


@media only screen and (max-width:360px){
    .user-container{
        flex-direction: column;
    }

    .logo{
        margin-bottom: 10px;
    }
}

@media only screen and (max-width:310px){
    .user-content h1{
        font-size: 30px;
    }

    .user-content h2{
        font-size: 18px;
    }

    .user-content h3{
        font-size: 18px;
    }

    .user-right-card{
        width: 250px;
    }

    .user-head-content{
        width: 230px;
    }

    .user-body-item{
        width: 230px;
        font-size: 14px;
    }
}

@media only screen and (max-width:280px){
    .user-left{
        width: 95vw;
        display: block;
    }
}